In [ ]:
import pandas as pd

df=pd.read_csv('data.csv',parse_dates=['Date'],index_col='Date')

In [ ]:
all_imps=df[df['Narration'].str.contains('IMPS',na=False)]

In [ ]:
list1=all_imps.Narration.str.extract(r'(?:.*SCBL-)(.+?)\-')
list1=list1.values.tolist()

In [ ]:
lista=[]
for i in list1:
    for j in i:
        lista.append(j)

In [ ]:
lista=[x for x in lista if str(x) != 'nan']
lista

In [ ]:
list2=all_imps.Narration.str.extract(r'(?:.*CBIN-)(.+?)\-')
list3=all_imps.Narration.str.extract(r'(?:.*KKBK-)(.+?)\-')
list4=all_imps.Narration.str.extract(r'(?:.*SBIN-)(.+?)\-')
list5=all_imps.Narration.str.extract(r'(?:.*HDFC-)(.+?)\-')
list6=all_imps.Narration.str.extract(r'(?:.*PUNB-)(.+?)\-')
list7=all_imps.Narration.str.extract(r'(?:.*UTIB-)(.+?)\-')
list8=all_imps.Narration.str.extract(r'(?:.*INDB-)(.+?)\-')
list9=all_imps.Narration.str.extract(r'(?:.*JAKA-)(.+?)\-')
list10=all_imps.Narration.str.extract(r'(?:.*ICIC-)(.+?)\-')
list11=all_imps.Narration.str.extract(r'(?:.*PYTM-)(.+?)\-')
list12=all_imps.Narration.str.extract(r'(?:.*YESB-)(.+?)\-')
list13=all_imps.Narration.str.extract(r'(?:.*CNRB-)(.+?)\-')

In [ ]:
list2=list2.values.tolist()
list3=list3.values.tolist()
list4=list4.values.tolist()
list5=list5.values.tolist()
list6=list6.values.tolist()
list7=list7.values.tolist()
list8=list8.values.tolist()
list9=list9.values.tolist()
list10=list10.values.tolist()
list11=list11.values.tolist()
list12=list12.values.tolist()
list13=list13.values.tolist()

In [ ]:
listm=[]
for i in list2:
    for j in i:
        listm.append(j)
listb=[]
for i in list3:
    for j in i:
        listb.append(j)
listc=[]
for i in list4:
    for j in i:
        listc.append(j)
listd=[]
for i in list5:
    for j in i:
        listd.append(j)
liste=[]
for i in list6:
    for j in i:
        liste.append(j)
listf=[]
for i in list7:
    for j in i:
        listf.append(j)
listg=[]
for i in list8:
    for j in i:
        listg.append(j)
listh=[]
for i in list9:
    for j in i:
        listh.append(j)
listi=[]
for i in list10:
    for j in i:
        listi.append(j)
listj=[]
for i in list11:
    for j in i:
        listj.append(j)
listk=[]
for i in list12:
    for j in i:
        listk.append(j)
listl=[]
for i in list13:
    for j in i:
        listl.append(j)

In [ ]:
listm=[x for x in listm if str(x) != 'nan']
listb=[x for x in listb if str(x) != 'nan']
listc=[x for x in listc if str(x) != 'nan']
listd=[x for x in listd if str(x) != 'nan']
liste=[x for x in liste if str(x) != 'nan']
listf=[x for x in listf if str(x) != 'nan']
listg=[x for x in listg if str(x) != 'nan']
listh=[x for x in listh if str(x) != 'nan']
listi=[x for x in listi if str(x) != 'nan']
listj=[x for x in listj if str(x) != 'nan']
listk=[x for x in listk if str(x) != 'nan']
listl=[x for x in listl if str(x) != 'nan']

In [ ]:
imps_nums=listb+listd+listc+liste+listf+listg+listh+listi+listj+listk+listl+listm

In [ ]:
imps_nums

In [ ]:
lista=[x for x in lista if str(x) != 'nan']

In [ ]:
lista

In [ ]:
imps_nums+=lista

In [ ]:
imps_nums

In [ ]:
print(imps_nums)

In [ ]:
imps_final=[*set(imps_nums)]

In [60]:
print(imps_final)

['XXXXXX7655', 'XXXXXXXX7142', 'XXXXXXXXX2921', 'XXXXXXX4531', 'XXXXXXXXXXXX0633', 'XXXXXXXXXX8995', 'XXXXXXXXXXX0788', 'XXXXXXXXXXXX8837', 'XXXXXXX5479', 'XXXXXXXX1549', 'XXXXXXXXXX0717', 'XXXXXXXX0078', 'XXXXXXX7278', 'XXXXXXXXXXXX1346', 'XXXXXX3699', 'XXXXXXX9088', 'XXXXXXXX0874', 'XXXXXXXXXXX3836', 'XXXXXXXXXXX2732', 'XXXXXXXXXXX3389', 'XXXXXXX6206', 'XXXXXXXXXXXX1130', 'XXXXXXXX2258', 'XXXXXXXXXXX1435', 'XXXXXXXXXX2944', 'XXXXXX9251', 'XXXXXXXXXX6844', 'XXXXXXXXXXX0094', 'XXXXXXXX1856', 'XXXXXXXXXX0538', 'XXXXXXXXXX3765', 'XXXXXXXX4438', 'XXXXXXXX4908', 'XXXXXXXXXX0845', 'XXXXXXXXXX1056']

In [50]:
dict={}
for num in imps_final:
    names=df[df['Narration'].str.contains(num,na=False)]
    dict[num]=names['Narration'].head(1)

In [51]:
print(dict)

{'XXXXXX7655': Date
2022-06-21    IMPS-217207357785-SAMRENDRA SUMAN-KKBK-XXXXXX7...
Name: Narration, dtype: object, 'XXXXXXXX7142': Date
2022-03-10    IMPS-227623185333-GAGAN KUMAR-PYTM-XXXXXXXX714...
Name: Narration, dtype: object, 'XXXXXXXXX2921': Date
2022-10-22    IMPS-229510154935-ENVIRO FASHION PVT LTD-CNRB-...
Name: Narration, dtype: object, 'XXXXXXX4531': Date
2022-05-13    IMPS-213318431529-RELIANCE RETAIL VENT-SCBL-XX...
Name: Narration, dtype: object, 'XXXXXXXXXXXX0633': Date
2022-09-30    IMPS-227317108508-RAJNEESH INTERNATIONAL-JAKA-...
Name: Narration, dtype: object, 'XXXXXXXXXX8995': Date
2022-07-16    IMPS-219713155135-DAMAN TEXTILES-HDFC-XXXXXXXX...
Name: Narration, dtype: object, 'XXXXXXXXXXX0788': Date
2022-09-30    IMPS-227310160840-PRABHAKAR NARAIN-UTIB-XXXXXX...
Name: Narration, dtype: object, 'XXXXXXXXXXXX8837': Date
2022-07-31    IMPS-221222158551-SACHIN-PUNB-XXXXXXXXXXXX8837...
Name: Narration, dtype: object, 'XXXXXXX5479': Date
2022-02-08    IMPS-221423343762-JASPREET SINGH JASSI-SBIN-XX...
Name: Narration, dtype: object, 'XXXXXXXX1549': Date
2022-09-29    IMPS-227219157394-USHA FABS PVT LTD-ICIC-XXXXX...
Name: Narration, dtype: object, 'XXXXXXXXXX0717': Date
2022-03-08    IMPS-221511190075-MEHREEN SAYEED SHEMNA-HDFC-X...
Name: Narration, dtype: object, 'XXXXXXXX0078': Date
2022-09-29    IMPS-227219156774-BHARDWAJ QUILTS-ICIC-XXXXXXX...
Name: Narration, dtype: object, 'XXXXXXX7278': Date
2022-03-10    IMPS-227623185491-ROHIT PARASHAR-SBIN-XXXXXXX7...
Name: Narration, dtype: object, 'XXXXXXXXXXXX1346': Date
2022-08-16    IMPS-222818171428-FAIZ OVERSEAS-JAKA-XXXXXXXXX...
Name: Narration, dtype: object, 'XXXXXX3699': Date
2022-09-20    IMPS-226314151735-JAINCO FABRICS-KKBK-XXXXXX36...
Name: Narration, dtype: object, 'XXXXXXX9088': Date
2022-03-10    IMPS-227623185594-NISHANT MADAN-SBIN-XXXXXXX90...
Name: Narration, dtype: object, 'XXXXXXXX0874': Date
2022-10-21    IMPS-229411160118-A LITTLE FABLE ONLINE RETAIL...
Name: Narration, dtype: object, 'XXXXXXXXXXX3836': Date
2022-08-14    IMPS-222613131348-SK TOP TRADERS-UTIB-XXXXXXXX...
Name: Narration, dtype: object, 'XXXXXXXXXXX2732': Date
2022-10-22    IMPS-229509116124-GAP ASSOCIATES-UTIB-XXXXXXXX...
Name: Narration, dtype: object, 'XXXXXXXXXXX3389': Date
2022-07-11    IMPS-231112101050-NEW FASHION-UTIB-XXXXXXXXXXX...
Name: Narration, dtype: object, 'XXXXXXX6206': Date
2022-06-27    IMPS-217800328812-NIRNAY SIDDHARTH BUTLE-SBIN-...
Name: Narration, dtype: object, 'XXXXXXXXXXXX1130': Date
2022-11-08    IMPS-222315188271-MUNMUN GARMENTS-PUNB-XXXXXXX...
Name: Narration, dtype: object, 'XXXXXXXX2258': Date
2022-08-21    IMPS-223320128862-LOKESH FOAMSALES-ICIC-XXXXXX...
Name: Narration, dtype: object, 'XXXXXXXXXXX1435': Date
2022-08-17    IMPS-222914936017-NARULAENTERPRISES-UTIB-XXXXX...
Name: Narration, dtype: object, 'XXXXXXXXXX2944': Date
2022-09-30    IMPS-227318136050-DAYAL ENTERPRISES-HDFC-XXXXX...
Name: Narration, dtype: object, 'XXXXXX9251': Date
2022-06-18    IMPS-216917386184-RIYA JINDAL-CBIN-XXXXXX9251-...
Name: Narration, dtype: object, 'XXXXXXXXXX6844': Date
2022-08-13    IMPS-222510197270-CHAUDHARY LABELS-HDFC-XXXXXX...
Name: Narration, dtype: object, 'XXXXXXXXXXX0094': Date
2022-10-20    IMPS-229316120491-MADAN TRAVELS-YESB-XXXXXXXXX...
Name: Narration, dtype: object, 'XXXXXXXX1856': Date
2022-09-26    IMPS-226913184375-SIREY KOTHARY-INDB-XXXXXXXX1...
Name: Narration, dtype: object, 'XXXXXXXXXX0538': Date
2022-07-29    IMPS-221016103319-SS ENTERPRISES-HDFC-XXXXXXXX...
Name: Narration, dtype: object, 'XXXXXXXXXX3765': Date
2022-09-13    IMPS-225618172161-ANJALI SILK MILLS-HDFC-XXXXX...
Name: Narration, dtype: object, 'XXXXXXXX4438': Date
2022-11-18    IMPS-232211198690-PRATEEK PAI 003101634438-ICI...
Name: Narration, dtype: object, 'XXXXXXXX4908': Date
2022-08-16    IMPS-222817165779-ACCORD CORPORATION-INDB-XXXX...
Name: Narration, dtype: object, 'XXXXXXXXXX0845': Date
2022-10-08    IMPS-222212193687-KARSH LABELS-HDFC-XXXXXXXXXX...
Name: Narration, dtype: object, 'XXXXXXXXXX1056': Date
2022-09-19    IMPS-226212184447-KUNAL S BHANDARI-PUNB-XXXXXX...
Name: Narration, dtype: object}

In [59]:
import csv
with open('names.csv','a') as file:
    header=['number','name']
    thewriter=csv.writer(file)
    thewriter.writerow(header)

for i in dict:
    with open("names.csv", 'a') as file:
        thewriter = csv.writer(file)
        thewriter.writerow(dict[i])

In [ ]:
kl=pd.read_csv('names.csv')

In [1]:
import pandas as pd
import csv

names=pd.read_csv('benificiery_names.csv')
names

                                       Names
0               AAKRITI PACKAGING INDUSTRIES
1                         ACCORD CORPORATION
2   A LITTLE FABLE ONLINE RETAIL PRIVATE LTD
3                             A S TRADING CO
4                            BHARDWAJ QUILTS
5                     ENVIRO FASHION PVT LTD
6                              FAIZ OVERSEAS
7                                GAGAN KUMAR
8                             GAP ASSOCIATES
9                                  INTEX INC
10                         JAI MAA PACKAGING
11                            JAINCO FABRICS
12                                JEEVAGAN S
13                          KUNAL S BHANDARI
14                          LOKESH FOAMSALES
15                             MADAN TRAVELS
16                            MANISH KOTHARY
17                             MANJESH KUMAR
18                           MUNMUN GARMENTS
19                            NARANG THREADS
20                        NARULA ENTERPRISES
21                               NEW FASHION
22                             NISHANT MADAN
23                            OM ENTERPRISES
24                        POOJA BUTTON STORE
25                          PRABHAKAR NARAIN
26                  PRATEEK PAI 003101634438
27                        RAJENDRAN RAGHAVAN
28                    RAJNEESH INTERNATIONAL
29                               RIYA JINDAL
30                            RK ENTERPRISES
31                            ROHIT PARASHAR
32                              RUIA FABRICS
33                          RV INTERNATIONAL
34                                    SACHIN
35                   SANCHIT FASHION FABRICS
36                            S D TRADING CO
37                             SHARIKA VERMA
38                            SK TOP TRADERS
39                         USHA FABS PVT LTD

In [3]:
benificiery_list=[]
for name in names:
    benificiery_list.append(name)
benificiery_list

['Names']

In [4]:
benificiery_list.clear()

In [5]:
benificiery_list

[]

In [8]:
kv=names['Names']

In [9]:
kv

0                 AAKRITI PACKAGING INDUSTRIES
1                           ACCORD CORPORATION
2     A LITTLE FABLE ONLINE RETAIL PRIVATE LTD
3                               A S TRADING CO
4                              BHARDWAJ QUILTS
5                       ENVIRO FASHION PVT LTD
6                                FAIZ OVERSEAS
7                                  GAGAN KUMAR
8                               GAP ASSOCIATES
9                                    INTEX INC
10                           JAI MAA PACKAGING
11                              JAINCO FABRICS
12                                  JEEVAGAN S
13                            KUNAL S BHANDARI
14                            LOKESH FOAMSALES
15                               MADAN TRAVELS
16                              MANISH KOTHARY
17                               MANJESH KUMAR
18                             MUNMUN GARMENTS
19                              NARANG THREADS
20                          NARULA ENTERPRISES
21                                 NEW FASHION
22                               NISHANT MADAN
23                              OM ENTERPRISES
24                          POOJA BUTTON STORE
25                            PRABHAKAR NARAIN
26                    PRATEEK PAI 003101634438
27                          RAJENDRAN RAGHAVAN
28                      RAJNEESH INTERNATIONAL
29                                 RIYA JINDAL
30                              RK ENTERPRISES
31                              ROHIT PARASHAR
32                                RUIA FABRICS
33                            RV INTERNATIONAL
34                                      SACHIN
35                     SANCHIT FASHION FABRICS
36                              S D TRADING CO
37                               SHARIKA VERMA
38                              SK TOP TRADERS
39                           USHA FABS PVT LTD
Name: Names, dtype: object

In [10]:
for name in kv:
    benificiery_list.append(name)

In [11]:
benificiery_list

['AAKRITI PACKAGING INDUSTRIES',
 'ACCORD CORPORATION',
 'A LITTLE FABLE ONLINE RETAIL PRIVATE LTD',
 'A S TRADING CO',
 'BHARDWAJ QUILTS',
 'ENVIRO FASHION PVT LTD',
 'FAIZ OVERSEAS',
 'GAGAN KUMAR',
 'GAP ASSOCIATES',
 'INTEX INC',
 'JAI MAA PACKAGING',
 'JAINCO FABRICS',
 'JEEVAGAN S',
 'KUNAL S BHANDARI',
 'LOKESH FOAMSALES',
 'MADAN TRAVELS',
 'MANISH KOTHARY',
 'MANJESH KUMAR',
 'MUNMUN GARMENTS',
 'NARANG THREADS',
 'NARULA ENTERPRISES',
 'NEW FASHION',
 'NISHANT MADAN',
 'OM ENTERPRISES',
 'POOJA BUTTON STORE',
 'PRABHAKAR NARAIN',
 'PRATEEK PAI 003101634438',
 'RAJENDRAN RAGHAVAN',
 'RAJNEESH INTERNATIONAL',
 'RIYA JINDAL',
 'RK ENTERPRISES',
 'ROHIT PARASHAR',
 'RUIA FABRICS',
 'RV INTERNATIONAL',
 'SACHIN',
 'SANCHIT FASHION FABRICS',
 'S D TRADING CO',
 'SHARIKA VERMA',
 'SK TOP TRADERS',
 'USHA FABS PVT LTD']

In [12]:
print(benificiery_list)

['AAKRITI PACKAGING INDUSTRIES', 'ACCORD CORPORATION', 'A LITTLE FABLE ONLINE RETAIL PRIVATE LTD', 'A S TRADING CO', 'BHARDWAJ QUILTS', 'ENVIRO FASHION PVT LTD', 'FAIZ OVERSEAS', 'GAGAN KUMAR', 'GAP ASSOCIATES', 'INTEX INC', 'JAI MAA PACKAGING', 'JAINCO FABRICS', 'JEEVAGAN S', 'KUNAL S BHANDARI', 'LOKESH FOAMSALES', 'MADAN TRAVELS', 'MANISH KOTHARY', 'MANJESH KUMAR', 'MUNMUN GARMENTS', 'NARANG THREADS', 'NARULA ENTERPRISES', 'NEW FASHION', 'NISHANT MADAN', 'OM ENTERPRISES', 'POOJA BUTTON STORE', 'PRABHAKAR NARAIN', 'PRATEEK PAI 003101634438', 'RAJENDRAN RAGHAVAN', 'RAJNEESH INTERNATIONAL', 'RIYA JINDAL', 'RK ENTERPRISES', 'ROHIT PARASHAR', 'RUIA FABRICS', 'RV INTERNATIONAL', 'SACHIN', 'SANCHIT FASHION FABRICS', 'S D TRADING CO', 'SHARIKA VERMA', 'SK TOP TRADERS', 'USHA FABS PVT LTD']

In [1]:
import pandas as pd 
ab=pd.read_csv('december.csv',parse_dates=['Date'],dayfirst=True)
ab

,Date,Narration,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance
0,2022-05-13,IMPS-213318431529-RELIANCE RETAIL VENT-SCBL-XX...,13/05/22,NaN,1.0,202029.81
1,2022-05-16,50200020158995-TPT-PUFFER JACKET FABRIC-DAMAN ...,16/05/22,50000.0,NaN,152029.81
2,2022-05-17,50200020158995-TPT-JACKET-DAMAN TEXTILES,17/05/22,50000.0,NaN,102029.81
3,2022-05-23,"NEFT DR-KKBK0000181-SAMRENDRA SUMAN-NETBANK, M...",23/05/22,7500.0,NaN,94529.81
4,2022-05-23,02581460000717-TPT-DOCPLUS BALANCE 2.5K-MEHREE...,23/05/22,7500.0,NaN,87029.81
...,...,...,...,...,...,...
257,2022-12-06,"NEFT DR-SBIN00CARDS-MANISH KOTHARY-NETBANK, MU...",06/12/22,4400.0,NaN,340064.56
258,2022-12-06,IMPS-234009105772-AAKRITI PACKAGING INDUSTRIES...,06/12/22,3263.0,NaN,336801.56
259,2022-12-06,DEBIT CARD ISSUANCE FEE 281122-MIR2334001697209,06/12/22,295.0,NaN,336506.56
260,2022-12-06,POS 403875XXXXXX9224 HANGOUT DRINKING,06/12/22,373.0,NaN,336133.56
261,2022-12-06,POS 403875XXXXXX9224 S K WINE,06/12/22,380.0,NaN,335753.56

In [4]:
ab[ab['Narration'].str.contains('PRATEEK PAI 003101634438',na=False)]

,Date,Narration,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance
234,2022-11-18,IMPS-232211198690-PRATEEK PAI 003101634438-ICI...,18/11/22,25000.0,NaN,1725008.09
252,2022-12-01,IMPS-233517110941-PRATEEK PAI 003101634438-ICI...,01/12/22,60000.0,NaN,397366.75

In [7]:
ab.loc[ab['Date'].dt.month==12]
#december=df.loc[df['Date'].dt.month==12]

,Date,Narration,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance
251,2022-12-01,04821000022965-TPT-ADVANCE-MANISH KOTHARY,01/12/22,100000.00,NaN,457366.75
252,2022-12-01,IMPS-233517110941-PRATEEK PAI 003101634438-ICI...,01/12/22,60000.00,NaN,397366.75
253,2022-12-05,28457630000538-TPT-LABEL-S S ENTERPRISES,05/12/22,3512.19,NaN,393854.56
254,2022-12-06,IMPS-234008193231-KARSH LABELS-HDFC-XXXXXXXXXX...,06/12/22,1725.00,NaN,392129.56
255,2022-12-06,IB BILLPAY DR-HDFCRB-471865XXXXXX1976,06/12/22,42606.00,NaN,349523.56
256,2022-12-06,IB BILLPAY DR-HDFCRB-471865XXXXXX2081,06/12/22,5059.00,NaN,344464.56
257,2022-12-06,"NEFT DR-SBIN00CARDS-MANISH KOTHARY-NETBANK, MU...",06/12/22,4400.00,NaN,340064.56
258,2022-12-06,IMPS-234009105772-AAKRITI PACKAGING INDUSTRIES...,06/12/22,3263.00,NaN,336801.56
259,2022-12-06,DEBIT CARD ISSUANCE FEE 281122-MIR2334001697209,06/12/22,295.00,NaN,336506.56
260,2022-12-06,POS 403875XXXXXX9224 HANGOUT DRINKING,06/12/22,373.00,NaN,336133.56
261,2022-12-06,POS 403875XXXXXX9224 S K WINE,06/12/22,380.00,NaN,335753.56